.container {
  background-color: #112240;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 700px;
  height: 700px;
  margin: 2rem auto;
}

/* EmailReplyGenerator.module.css */

.buttonGroup {
  display: flex;
  gap: 10px; /* Space between buttons */
  margin-top: 1rem;
  background-color: #112240;
}

.backButton {
  width: 700px;
  height: 30px;
  margin-left: -2px;
  border-radius: 0.25rem;
  background-color: #007bff;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  margin-top: 12px;
}

.backButton:hover{
   color: white;
  border: 1px solid #007bff;
  background-color: #001a2e;
}
.title {
  color: #007bff;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  background-color: #112240;
}

.scheduleContainer {
  background-color: #112240;
}

/* EmailReplyGenerator.module.css */

/* Flex container for select and button */
.flexRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  background-color: #112240;
  gap: 10px;
  max-width: 99%;
}

.select {
  margin-right: 10px; /* Space between select and button */
  padding: 6px;
  color: white;
  border: 1px solid #007bff;
  background-color: #112240;
  border-radius: 4px;
  font-size: 14px;
}

.tarea,
.inputReply,
.textarea {
  width: 96%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #112240;
  color: white;
  border: 1px solid #007bff;
  border-radius: 0.25rem;
}

.button {
  width: 99%;
  padding: 0.5rem;
  background-color: #007bff;
  color: black;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.button:hover {
  color: white;
  border: 1px solid #007bff;
  background-color: #001a2e;
}
/* 
.button:disabled {
  background-color: #007bff;
  cursor: not-allowed;
} */

.error {
  color: red;
  text-align: center;
  margin-top: 1rem;
}

.outputContainer {
  margin-top: 2rem;
  background-color: #112240;
  color: #007bff;
}

.outputContainer h2 {
  background-color: #112240;
  margin-left: 230px;
}

.scheduleContainer {
  margin-top: 2rem;
}
